body {
    background-color: #1b2328;
    color: #f9f9f7;
}
body a {
    color: #f9f9f7;
}
h1 {
    /* color: #D5D2C5; */
    /* color: black; */
    text-align: center;
    font-size: 56px;
    font-family: Domine;
    width: 75%;
    margin: auto;
    padding-top: 5%;
    /* font-weight: normal; */
}
p {
    /* color: #D5D2C5; */
    /* color: black; */
    /* text-align: center; */
    font-family: Domine;
    /* width: 50%; */
    margin: auto;
    /* font-weight: bold; */
    font-size: 24px;
}
h2 {
    /* color: #D5D2C5; */
    /* color: black; */
    text-align: center;
    font-size: 44px;
    font-family: Domine;
    width: 75%;
    text-align: left;
    font-weight: normal;
}
h3 {
    text-align: center;
    font-size: 36px;
    font-family: Domine;
    width: 75%;
    text-align: left;
    font-weight: normal;
}
li {
    /* color: #D5D2C5; */
    /* color: black; */
    text-align: center;
    font-family: Domine;
    /* width: 50%; */
    text-align: left;
    /* font-weight: bold; */
    font-size: 24px;
}
.main {
    /* border-style: solid; */
    width: 65%;
    margin: auto;
    /* background-color: #D5D2C5; */
    border-radius: 5px;
}
a {
    /* color: #D5D2C5; */
    /* color: black; */
    text-decoration: none;
}
a:hover{
    color: magenta;
}