body {
    background-color: skyblue;
    margin: 0;
}
.ground {
    /* border-style: solid; */
    position: absolute;
    width: 100%;
    height: 12%;
    background-color: #62BC2F;
    position: fixed;
    bottom: 0;
}
#player {
    width: 63px;
    position: relative;
    left: 700px;
    top: 620px;
    z-index: 5;
    /* border-style: solid; */
    /* display: block; */
    /* margin: auto; */
}
canvas {
    /* border-style: solid; */
    width: 100%;
}