body {
    background-color: #2B4B5E;
}

h1 {
    color: #D5D2C5;
    /* color: black; */
    text-align: center;
    font-size: 56px;
    font-family: Wellfleet;
    width: 75%;
    margin: auto;
    font-weight: normal;
}
.hbut {
    width: 50px;
}
.bchbut {
    width: 50px
}
button {
    background-color: #2B4B5E;
    border-radius: 15px;
    /* border-style: solid; */
}
p {
    color: #D5D2C5;
    /* color: black; */
    text-align: center;
    font-family: Wellfleet;
    /* width: 50%; */
    margin: auto;
    /* font-weight: bold; */
    font-size: 24px;
}
h2 {
    color: #D5D2C5;
    /* color: black; */
    text-align: center;
    font-size: 44px;
    font-family: Wellfleet;
    width: 75%;
    text-align: left;
    font-weight: normal;
}
li {
    color: #D5D2C5;
    /* color: black; */
    text-align: center;
    font-family: Wellfleet;
    /* width: 50%; */
    text-align: left;
    /* font-weight: bold; */
    font-size: 24px;
}
.BCmain {
    /* border-style: solid; */
    width: 65%;
    margin: auto;
    /* background-color: #D5D2C5; */
    border-radius: 5px;
}
.homebutton {
    /* border-style: solid; */
    /* width: 66px; */
    display: flex;
    justify-content: space-between;
    width: 83.5%;
    height: 60px;
    float: right;
}
a {
    color: #D5D2C5;
    /* color: black; */
    text-decoration: none;
}
a:hover{
    color: magenta;
}

/* .sidenav {
    height: 100%;
    width: 16.5%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #3B6781;
    overflow-x: hidden;
    padding-top: 20px;
  }
  
  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 24px;
    color: #D5D2C5;
    font-family: Wellfleet;
    display: block;
  }
  
  .sidenav a:hover {
    color: magenta;
  } */
  .sidenav {
    height: 100%;
    width: 200px; /* Adjust width for smaller screens */
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #3B6781;
    overflow-x: hidden;
    padding-top: 20px;
}

.sidenav a {
    padding: 10px 20px; /* Increase padding for touch-friendly buttons */
    text-decoration: none;
    font-size: 18px; /* Adjust font size for better readability */
    color: #D5D2C5;
    font-family: Wellfleet;
    display: block;
}

.sidenav a:hover {
    color: magenta;
}